.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 150px;
  }
  nav {
    ul {
      display: flex;
      li {
        list-style-type: none;
        &:first-child {
          margin-right: 30px;
        }
        a {
          color: #000;
          text-decoration: none;
          text-transform: capitalize;
          font-size: 22px;
          position: relative;
          &:hover::before {
            content: "";
            width: 100%;
            height: 3px;
            background: #0065fc;
            position: absolute;
            left: 0;
            top: -30px;
          }
        }
      }
    }
  }
  hr {
    display: none;
  }
}

@media screen and (max-width: 492px) {
  .containerHeader {
    flex-direction: column;
    align-items: normal;
    .logo {
      width: 80px;
      align-self: center;
    }
    nav {
      ul {
        justify-content: space-between;
        li {
          width: 50%;
          text-align: center;

          &:first-child {
            margin-right: 0;
          }
          a {
            font-size: 18px;
            &:hover::before {
              display: none;
            }
            &:active::after {
              content: "";
              width: 100%;
              height: 2px;
              background: #0065fc;
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
        }
      }
    }
    hr {
      display: block;
      margin-top: 15px;
    }
  }
}
