@font-face {
    font-family: 'Raleway-Black';
    src: url('/src/polices/Raleway-Black.ttf');
  }
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('/src/polices/Raleway-Regular.ttf');
  }
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .containerApp{
    width: 70%;
    margin: auto;
    font-family: 'Raleway-Regular';
  }
  .hebergementsPopulaires{
    display: flex;
    gap: 50px;
  }
  

  @media screen and (max-width: 492px) {
    .containerApp{
      width: 100%;
    }
    .hebergementsPopulaires{
      flex-direction: column-reverse;
      gap: 0;
    }
  }
